html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 39.81vh 1fr;
    background-color: whitesmoke;
}

header {
    grid-column: 1 / 3;
}

#commander {
    margin-left: 39.81vh;
    margin-top: 18.76vh;
}

.command {
    display: grid;
    grid-template-columns: 26.8vh repeat(2, 21.44vh) 15.63vw;
    grid-template-rows: repeat(12, 16.08vh);
    width: 100%;
    height: 600px;
}

#aside2 {
    background-color: #C9B5B3;
    width: 39.81vh;
    display: flex;
    flex-direction: column;
    border-top: 0.1vh solid black;
    margin-top: 18.76vh;
    position: fixed;
}

#aside2 a div {
    display: grid;
    grid-template-rows: 0.43vh 1fr 0.43vh;
    grid-template-columns: 18.52vh 5.55vh 14.81vh;
    height: 4.63vh;
    border-bottom: 0.1vh solid black;
    gap: 0.54vh;
}

#aside2 a div img {
    height: 2.03vh;
    grid-row-start: 2;
    grid-column-start: 2;
    margin-left: 4.29vh;
}

#aside2 span {
    height: 47.8vh;
}

#aside2 a div h2 {
    grid-row-start: 2;
    grid-column-start: 3;
    text-align: center;
    margin: 0 1.29vh 0 0;
    font-size: 2.14vh;
    font-weight: bold;
    color: black;
}

#aside2 a {
    text-decoration: none;
}

#aside2 a div:hover {
    background-color: #c4a6a3;
}

h2 {
    grid-column: 4 / 5;
    text-align: center;
}

.food {
    text-align: right;
    margin-right: 0.52vw;
}

h3 {
    grid-column: 2 / 4;
    margin-top: 2.6vw;
}

.command p {
    grid-column: 2 / 4;
    margin-right: 2.08vw;
    margin-top: 5.21vw;
}

.command a {
    grid-area: 3 / 4 / 5 / 6;
}

#commander a h2 {
    color: whitesmoke;
    font-size: 1.67vw;
    text-align: center;
    margin: 1.04vw;
}

#commander a img {
    height: 10.42vw;
}

#commander {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
}

#commander a {
    border: 0.05vw dimgray solid;
    border-radius: 0.31vw;
    background-color: #853C3C;
    cursor: pointer;
}

#commander a:hover {
    background-color: #A33C3C;
    transition: 0.2s;
}

footer {
    bottom: -2000px;
}