body {
    display: grid;
    grid-template-rows: 18.76vh 1fr;
}

.menu_connexion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-row-start: 2;
    margin-top: 6.51vw;
}

.case-co {
    display: flex;
    flex-direction: column;
    border: 0.1vh solid black;
    border-radius: 1.29vh;
    padding: 4.5vh 1.61vh 1.61vh 2.68vh;
}

.num_etu label, .mdp label, .mdp2 label {
    display: flex;
    gap: 0.43vh;
}

label a {
    margin: 0;
    color: red;
}

.num_etu input, .mdp input, .mdp2 input {
    width: 71.28vh;
    height: 3.32vh;
    border: 0.1vh solid black;
    border-radius: 0.43vh;
    margin: 1.07vh 0 1.07vh 0;
}

.confirm-co {
    align-self: flex-end;
    margin-right: 10.72vh;
    color: white;
    background-color: #C59696;
    border: 0.1vh solid #C59696;
    border-radius: 0.75vh;
    font-size: 2.14vh;
    padding: 1.07vh 1.6vh 1.07vh 1.6vh;
}

.confirm-co:hover {
    color: #C59696;
    background-color: white;
}

h2 {
    font-size: 3.86vh;
}

.menu_connexion label, .menu_connexion p {
    font-size: 1.71vh;
}
