footer {
    height: 140px;
    width: 99%;
    position: absolute;
    bottom: -200px;
    background-color: #C9B5B3;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
}

#ligne1_footer {
    display: flex;
    justify-content: space-between;
}

#contact {
    display: flex;
    flex-direction: column;

}

#contact p, #contact div, #ligne2_footer p {
    margin: 0.42vw 0 0.42vw 0;
}

#contact_tel_mel{
    display: flex;
    gap: 0.52vw;
}

footer h3 {
    margin: 0.36vw;
}

#ligne2_footer{
    border-top: 0.05vw black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer h2 {
    width: 23.44vw;
}

#credits {
    margin-right: 0.63vw;
}

ul a{
    color: black;
}

#nous {
    color: black;
    border: 0.05vw black solid;
    border-radius: 0.21vw;
    padding: 0.21vw;
}