body{
    margin: 0;
    font-family: Inter, sans-serif;
}

.logo {
    height: 10.72vh;
    align-self: center;
}

#img-kebab{
    height: 15.22vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #C9B5B3;
    align-items: center;
    width: 99.11vw;
    position: fixed;
}

#info {
    padding: 1.07vh 1.07vh 1.07vh 1.88vw;
    border-radius: 7.72vh;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2.57vh;
    border: 0.1vh solid black;
}

.page-link {
    font-size: 3.43vh;
    color: black;
    font-weight: bold;
    display: inline;
    position: relative;
    text-decoration: none;
}

.current{
    font-size: 3.43vh;
    color: black;
    font-weight: bold;
}

.page-link:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0.21vh;
    width: 0;
    left: 0;
    height: 0.32vh;
    transition: 0.32s cubic-bezier(0.72,-0.01,0.19, 0.92);
    background: black;
}

.page-link:hover:after {
    width: 100%;
}

h1 {
    font-size: 6.86vh;
    color: #003C3C;
    font-weight: 800;
}

a {
    text-decoration: none;
}