body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

main {
    margin-top: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 12px;
    width: 350px;
    padding: 10px 0 10px 0;
}

main img{
    width: 250px;
    border-radius: 100%;
    margin: 55px 0 15px 0;
    border: 1px black solid;
}

#info_moi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info_moi p {
    margin: 6px 0 8px 0;
}

#info_moi {
    margin-bottom: 12px;
}

footer{
    bottom: -10px;
}