#aside1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row-start: 2;
}

body {
    display: grid;
    grid-template-rows: 18.76vh 38.16vh 1fr;
    background-color: whitesmoke;
}

.logo-menu {
    height: 38.16vh;
}

.middle-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#button-prin {
    color: black;
    text-decoration: none;
    background-color: #C9B5B3;
    padding: 1.6vh;
    border-radius: 0.43vh;
    font-size: 3.43vh;

}

#button-prin:hover  {
    background-color: whitesmoke;
    color: #C9B5B3;
    transition: 0.32s;
}

#aside1 #txt_mid_a{
    color: black;
    font-size: 2.57vh;
    margin: 4.29vh;
}

#tab_pres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6.86vh;
    border: 0.1vh solid black;
    border-radius: 2.14vh;
    width: 107.18vh;
    height: 32.69vh;
    background-color: #D9D9D9;
}

.case_pres {
    height: 32.69vh;
    width: 36.12vh;
    text-align: center;
}

.case_pres:nth-child(n +2) {
    border-left: 0.1vh solid black;
}

.case_pres:first-child {
    border-bottom-left-radius: 2.14vh;
    border-top-left-radius: 2.14vh;
}

.case_pres:last-child {
    border-bottom-right-radius: 2.14vh;
    border-top-right-radius: 2.14vh;
}

.case_pres img {
    height: 9.32vh;
    width: 9.32vh;
    margin-top: 1.07vh;
}

.case_pres p {
    font-size: 2.14vh;
}

h2 {
    font-size: 3.43vh;
    margin-top: 0.63vw;
}

.case_pres h3{
    margin: 1.93vh;
}

#pourquoi {
    display: flex;
    justify-content: center;
    grid-row-start: 3;
}

button img{
    height: 5.21vw;
}